/* header */
header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    background-color: rgba(255, 255, 255, .8);
    align-items: center;
    position: fixed;
    margin-top: -200px;
    z-index: 1;
}
/* header-left */
.header-left {
    display: flex;
    justify-content: center;
    margin-left: 30px;
}

.search {
  display: flex;
  align-items: center;
  border: solid 2px #000;
  border-radius: 3px;
} 

.search #keyword {
  padding: 5px;
  height: 25px;
  width: 200px;
  border: none;
}

.search .search-btn {
  height: 35px;
  width: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 5px;
  appearance: none;
}

.header-left nav {
    margin: auto 0;
}

.header-left .nav-item {
    display: flex;
}

.nav-item li {
    margin-left: 30px;
}

.nav-item li:hover {
  border-bottom: solid 1px #000;
}

.nav-item li:first-child {
    margin-left: 45px;
}

.nav-item .brands {
  position: relative;
}

.brands-list {
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.brands-list li {
  margin-bottom: 15px;
}

.brands-list li:first-child {
  margin-top: 20px;
}

.brands-list li,
.brands-list li:first-child {
  margin-left: 0;
}

.brands .brands-list {
  position: absolute;
  top: 17px;
  left: 0;
  width: 200%;
  background: #fff;
  opacity: 0;
  transition: opacity 0.5s;
  /* display: none; */
}

.brands:hover .brands-list {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s;
}


/* header-right */
.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right a {
    margin-right: 30px;
}

.header-right a:first-child {
    margin-right: 15px;
}

.btn {
    color: #fff;
    background-color: #000;
    border: solid 1px #000;
    padding: 8px 8px;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
}

.btn:hover {
  color: #000;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.7s ease;
}

.login-btn {
    padding: 15px 15px;
}

.nav-item a,
#drawer-bg a {
  color: #000;
  text-decoration: none;
}

/* hamburger */
.hamburger {
    width: 36px;
    height: 30px;
    margin: 40px 50px 10px auto;
    display: none;
}
  
.hamburger span:after,
.hamburger span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -13px;
}
  
.hamburger span:after {
    top: 13px;
}
  
.hamburger span {
    position: relative;
    display: block;
}
  
.hamburger span,
.hamburger span:after,
.hamburger span:before {
    width: 100%;
    height: 6px;
    background-color: #000;
    transition: all 0.5s; 
    backface-visibility: hidden;
    border-radius: 2px;
}
  
.hamburger.on span {
    background-color: transparent;
}
  
.hamburger.on span:before {
    transform: rotate(45deg) translate(10px, 10px);
}
  
.hamburger.on span:after {
    transform: rotate(-45deg) translate(8px, -9px);
}
/* drawer */
#drawer-bg {
    display: none;
    position: fixed;
    z-index: 1;
    top: 70px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .9);
    color: #000;
}
  
#drawer-bg ul {
    text-align: center;
}
  
#drawer-bg li {
    font-size: 22px;
    margin-bottom: 35px;
}
  
#drawer-bg li:last-child {
    margin-bottom: 0;
}

#drawer-bg li:first-child {
    margin-top: 35px;
}
/* /header */

/* brand-article */
hr {
  width: 70%;
  margin: 30px auto;
}

section {
  display: none;
}

.tab-wrapper {
  text-align: center;
}

.active {
  display: block;
}
/* brand-content */
article {
  margin-top: 200px;
}

.brand-logo img {
  width: 1024px;
  height: 550px;
}

.brands-content {
  width: 700px;
  margin: 0 auto;
}

.brands-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.brands-content p {
  font-size: 18px;
  margin-bottom: 5px;
}

/* slider */
.swiper-container {
  margin: 100px 0;
  width: 900px;
}

.tab-wrapper .swiper-container {
  z-index: 0;
}

.swiper-container .swiper-wrapper {
  z-index: 0;
}
/* /brand-article */

/* footer */
footer {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    display: flex;
}

/* footer-left */
.footer-left {
    margin-left: 150px;
}

.footer-left li {
    margin-left: 20px;
}

.footer-left li:first-child {
    margin-left: 0;
}

/* footer-right */
.footer-right {
    margin-right: 150px;
}
.footer-right li {
    margin-right: 40px;
    color: #778899;
}

/* return top */
#return-top {
  position: fixed;
  bottom: 3%;
  right: 3%;
  padding: 10px 15px;
  border: solid 3px #000;
  border-radius: 50%;
}

#return-top:hover {
  color: #fff;
  background-color: #000;
  cursor: pointer;
  transition: all 0.7s ease;
}
/* /return top */
/* /footer */

/* modal */
#modal-bg {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0, .5);
	z-index: 100;
}

.modal-content {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -200px;
	padding: 20px;
	height: 300px;
	width: 400px;
	background-color: #fff;
	border-radius: 10px;
	z-index: 101;
}

.modal-close {
	display: flex;
	justify-content: flex-end;
	font-size: 30px;
}

.modal-close > span {
	cursor: pointer;
}

.modal-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 90%;
}

.modal-form-email,
.modal-form-password {
	width: 90%;
	height: 50px;
}

.modal-form-btn {
	padding: 10px 50px;
	cursor: pointer;
  color: #fff;
  background-color: #000;
	font-weight: bold;
	font-size: 16px;
	border-radius: 2px;
}

.modal-form-btn:hover {
  color: #000;
  background-color: #FFF;
  cursor: pointer;
  transition: all 0.7s ease;
}

.modal-content P {
  text-align: center;
}

.modal-content a {
  border-bottom: solid 1px #000;
}
/* /modal */

/* responsive */
@media screen and (max-width: 767px) {
    body {
      min-width: 375px;
      max-width: 767px;
    }
  
    /* header */
    header {
      height: 80px;
      width: 100%;
    }
  
    .btn {
      font-size: 12px;
    }
  
    .header-left {
      margin-left: 50px;
    }
  
    .header-left nav {
      display: none;
    }
  
    .header-right {
      margin-left: 30px;
    }
  
    .header-right .login-btn {
      display: none;
    }

    /* hamburger */
    .hamburger {
      display: block;
    }

    /* drawer */
    #drawer-bg .brands {
      position: relative;
    }

    #drawer-bg .brands-list {
      width: 100%;
      top: 0;
      left: 0;
    }

    /* brand-article */
    .brand-logo img {
      width: 350px;
      height: 170px;
    }

    .brands-content {
      width: 300px;
    }

    .swiper-container {
      width: 350px;
    }

    .swiper-slider img {
      width: 350px;
      height: 180px;
    }
    /* /brand-article */


    footer {
      justify-content: space-around;
      flex-direction: column-reverse;
      height: 150px;
    }
    
    .footer-right {
      margin-right: 0;
    }
    
    .footer-right li:last-child {
      margin-right: 0;
    }
    
    .footer-left {
      margin-left: 0;
    }
    
    #return-top {
      padding: 3px 6px;
      font-size: 10px;
    }

    .logo-fade img {
      width: 360px;
      height: 150px;
    }

    .modal-content {
      width: 300px;
      height: 250px;
      margin-left: -170px;
    }

}
/* /responsive */